html {
  background-color: #2d2c3c;
}

.after-church-svg-logo {
  padding: 10px;
}

.room-name-text {
  /* position: absolute;
  top: 120px;
  left: 50px; */
  color: white;
  font-family: ArialRoundedMTBold, Arial Rounded MT;
  font-weight: bold;
  font-size: 40px;
  z-index: 2;
  margin: 0;
}

.time-date {
  color: #08bcef;
  font-family: ArialRoundedMTBold, Arial Rounded MT;
  font-weight: bold;
  font-size: 20px;
  z-index: 2;
  margin: 0;
}

.content-item {
  background-image: url("../../public/discovery-content-background-img.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 2%;
}

.content-item-content {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 100px;
}

.content-list {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .add-event {
  align-self: flex-end;
} */

.admin-actions {
  display: flex;
  flex-direction: row;
}

.delete-event {
  padding: 10px;
}

.add-event {
  padding: 10px;
}
